@using System.Web.Mvc;
@using System.Collections;
@using sandness_mvc4.Models.Diplo;
@using System.Web.Helpers;
@using NotWebMatrix.Data;

@{    
    Page.Title = "Betongbestilling "+@ViewBag.orderID;      
   var db = Database.Open("sandness");    
   
   /*
    if( Session["username"] == null ) {
           Response.Redirect("~/login/Index");
    }
    */
   
 }


<h2 style="margin-bottom: 10px;">  @Page.Title</h2>

@{
    var order = db.QuerySingle("Select * from [sandness].[dbo].[orders] where id= @0", @ViewBag.orderID);  
   var proj_name = db.QueryValue( "select name from [sandness].[dbo].[projects] where id=@0", @order.project );   
   var kunde = db.QueryValue( "select u_company from [sandness].[dbo].[user] where u_id=@0", @order.kunde );   
   var dato = ByggeplassRepository.UnixTimeStampToDateTime( Convert.ToInt32(@order.dato) );
   var getfieldfortable = ByggeplassRepository.getfieldfortable();
   var ordval_data = db.Query("SELECT * FROM [sandness].[dbo].[orderval] WHERE orderid =@0", @ViewBag.orderID);     
}

<div id="edit_bestillinger">
<table class ="table table-striped table-hover">
    <thead>
        <tr>
            <th> Ref. </th> <th> @ViewBag.orderID </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Avdeling</td> <td>  @order.avd </td>        

        </tr>
        <tr>
            <td> Prosjekt </td> <td> @proj_name </td>        

        </tr>
        <tr>
            <td>Dato</td> <td> @String.Format("{0:dd-MM-yyyy}", @dato) </td>        

        </tr>
       
       @foreach( var field in getfieldfortable ){
           var feltval= "";           
          <tr>
              @foreach( var ordv_data in ordval_data ){                  
               if(@ordval_data !=null && @field.id == Convert.ToInt32( @ordv_data.felt ) ){                                   
                switch( (int) @field.type ){
                   case 1:
                     feltval = @ordv_data.choice;
                     break;
                                       
                   case 2:                                       
                     feltval = db.QueryValue( "SELECT name FROM [sandness].[dbo].[dropdowns] WHERE id=@0", @ordv_data.choice );                                        
                    break;

                   case 3:                                       
                     feltval = db.QueryValue( "SELECT name FROM [sandness].[dbo].[choices] WHERE  id=@0", @ordv_data.choice );
                     break;

                     default:
                     break;
                  }                                          
                }
             }  
             <td> @field.name </td> <td> @feltval </td>          
          </tr>   
       }
     <tr>
            <td> Notat </td> <td> @order.notater </td> 
     </tr>
    </tbody>    
</table>
</div>
<div>
@{
   if( Convert.ToInt32 (@Request.QueryString["status"] ) != 3) {
       <input type="button" class="btn btn-default" name="edit1_order" value="Endre bestillinger" onclick="window.location.href= '/bestillinger/edit1_bestillinger/?orderID=@ViewBag.orderID&status=@Request.QueryString["status"]'">
       <input type="button" class="btn btn-default" name="edit1_order" value="Godkjenn uten endringer" onclick="window.location.href='/bestillinger/index/?orderID=@ViewBag.orderID&levert=kommende&status=2'">
   }
 }
</div>