@model sandness_mvc4.Models.BestillingsFelter.BestillingsFelterViewModel
@using System.Web.Mvc;
@using sandness_mvc4.Models.Diplo;
@using System.Collections;
@{    
    Page.Title = "Felt";
    int type = @Model.Type;
    var i = 1;
    //var drop_check = "";
    //var radio_check = "";
}
<h3> @Page.Title </h3>
@switch ( @type )
{
      case 1:                
         <form method="post">
             <input type="text" name="Name" value="@Model.Name">
             <p>Type: Tekstfelt  </p>
             <input type="submit"  name="submit-text" value="Lagre">
         </form>
      break;
      case 2:
      <p> Type : Dropdown</p>
      using (Html.BeginForm("SaveEditDropdown", "Bestillingsfelter", FormMethod.Post, new { id = "", role = "form" }))    
         {
               <input type="text" name="Name" value="@Model.Name">
               <input type="hidden" name="Id" value="@Model.Id" />               
               <p> Type: Dropdown </p>
               <table style="border: 1px solid #cccccc; text-align: left">
               <thead >
               <tr>
                  <th style="border: 1px solid #cccccc;padding-left: 6px;">Valgmulighet</th> <!-- th style="border: 1px solid #cccccc;padding-left: 6px;"> Default </th --> <th style="border: 1px solid #cccccc; padding-left: 6px;"> </th> <th style="border: 1px solid #cccccc;padding-left: 6px;"> </th>  <th style="padding-right: 8px; padding-left:4px;border: 1px solid #cccccc;"> Slett </th > 
               </tr>
               </thead>
                @foreach( var rs in Model.dropdownModel ){                     
                    @*
                    if (rs.Default == 1)
                    {
                        drop_check = "checked";
                    }
                    else
                    {
                        drop_check = "";
                    }*@
                    <tr>                
                        <td style="border: 1px solid #cccccc;padding-left: 6px;">@rs.Name </td> 
                        <!-- td style="border: 1px solid #cccccc;padding-left: 6px;"> <input type="radio" name="Default"  >  </td --> 
                        @if(i == 1){
                            <td style="border: 1px solid #cccccc;padding-left: 6px;">   </td> 
                        }else {
                            <td style="border: 1px solid #cccccc;padding-left: 6px;"> <a href="/Bestillingsfelter/Edit_dropdown_Moveup/@rs.Id/@Model.Id"> <span class="glyphicon glyphicon-arrow-up"></span> </a>   </td> 
                        }
           
                        @if(i == @Model.dropdownModel.Count){
                            <td style="border: 1px solid #cccccc;padding-left: 6px;">   </td> 
                        }else {
                            <td style="border: 1px solid #cccccc;padding-left: 6px;"> <a href="/Bestillingsfelter/Edit_dropdown_movedown/@rs.Id/@Model.Id" ><span class="glyphicon glyphicon-arrow-down"></span>  </a>  </td> 
                        }                
                            <td style="border: 1px solid #cccccc;padding-left: 6px;"> <a href="/Bestillingsfelter/Delete_radio_dropdown/@rs.Id/@Model.Id/@type" onclick="return confirm('Are u sure to delete : @rs.Name ??')"> Slett </a>   </td>                   
                    </tr>            
                    i++;
                }
                   <tr>
                       <td style="border: 1px solid #cccccc;padding-left: 6px;"> Valgmulighet </td> <td colspan="4" style="border: 1px solid #cccccc;padding-left: 6px;"> <input type="text" name="AddDropdown"> </td>
                   <tr>  
             </table>
                 <input type="submit"  name="submit-radio" value="Lagre"> 
            }
      break;      

      case 3:
      using (Html.BeginForm("SaveEditRadio", "Bestillingsfelter", FormMethod.Post, new { id = "", role = "form" }))    
      {
             <input type="text" name="Name" value="@Model.Name">
             <input type="hidden" name="Id" value="@Model.Id" />
             <p> Type: Radioknapper </p>
           <table style="border: 1px solid #cccccc; text-align: left">
           <thead >
           <tr>
              <th style="border: 1px solid #cccccc;padding-left: 6px;">Valgmulighet</th> <!-- th style="border: 1px solid #cccccc;padding-left: 6px;"> Default </th --> <th style="border: 1px solid #cccccc;padding-left: 6px;"> </th> <th style="border: 1px solid #cccccc;padding-left: 6px;"> </th>  <th style="padding-right: 8px; padding-left:4px;border: 1px solid #cccccc;"> Slett </th > 
           </tr>
           </thead>

            @foreach( var rs in Model.choiceModel ){
                @*
                if (rs.Default == 1)
                {
                    radio_check = "checked";
                }
                else
                {
                    radio_check = "";
                } *@      
                <tr>
                    <td style="border: 1px solid #cccccc;padding-left: 6px;">@rs.Name </td> 
                    <!-- td style="border: 1px solid #cccccc;padding-left: 6px;"> <input type="radio" name="Default"  >  </td --> 
                    @if(i == 1){
                        <td style="border: 1px solid #cccccc;padding-left: 6px;">   </td> 
                    }else {
                        <td style="border: 1px solid #cccccc;padding-left: 6px;"> <a href="/Bestillingsfelter/Edit_radio_moveup/@rs.Id/@Model.Id"> <span class="glyphicon glyphicon-arrow-up"></span> </a>   </td> 
                    }
           
                    @if(i == @Model.choiceModel.Count){
                        <td style="border: 1px solid #cccccc;padding-left: 6px;">   </td> 
                    }else {
                        <td style="border: 1px solid #cccccc;padding-left: 6px;"> <a href="/Bestillingsfelter/Edit_radio_movedown/@rs.Id/@Model.Id" ><span class="glyphicon glyphicon-arrow-down"></span>  </a>  </td> 
                    }                
                        <td style="border: 1px solid #cccccc;padding-left: 6px;"> <a href="/Bestillingsfelter/Delete_radio_dropdown/@rs.Id/@Model.Id/@type" onclick="return confirm('Are u sure to delete : @rs.Name ??')"> Slett </a>   </td>                   
                </tr>            
                i++;
            }
               <tr>
                   <td style="border: 1px solid #cccccc;padding-left: 6px;"> Valgmulighet </td> <td colspan="4" style="border: 1px solid #cccccc;padding-left: 6px;"> <input type="text" name="AddRadio"> </td>
               <tr>  
         </table>             
             <input type="submit"  name="submit-radio" value="Lagre">
      }
    
      break;

      default:
      break;
 }

